
body
{
    font-family: Arial,Serif;
    color: #181818;
}
#bloc_page
{
    width: 980px;
    height: auto;
    margin: auto;
}
header
{
    display: flex;
}
#logo img
{
    width: 160px;
    height: 90px;
}
nav ul
{
    display: flex;
    list-style-type: none;

}
ul li
{
    padding: 30px;
}
nav
{
    position: relative;
    left: 400px;
}