
body
{
    font-family: Arial,Serif;
    color: #181818;
}
#bloc_page
{
    width: 1170px;
    height: auto;
    margin: auto;
}
a
{
    color: #181818;
   text-decoration: none;
    font-size: 0.8em;
}
a:hover
{
    color: #0000cc;
}
header
{
    display: flex;
}
#logo img
{
    width: 160px;
    height: 90px;
}
nav ul
{
    display: flex;
    list-style-type: none;

}
ul li
{
    padding: 30px;
}
nav
{
    position: relative;
    left: 400px;
}
/*Rechercher*/
#rechercher
{
    display: flex;
}
#rechercher i{
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
}
#rechercher
{
    margin-left: 30px;
}
#rechercher i
{
    color: midnightblue;
    padding-top: 10px;
    padding-left: 10px;
}
#rechercher select
{
    width: 120px;
    height: 30px;
}
input
{
    border: 1px solid midnightblue;
    border-radius: 0 50px 50px 0;
    background-color:midnightblue ;
    color: #DEEBFF;
    width: 100px;
    height: 30px;


}
/* Filtres*/
#filtres
{
    display: flex;
    font-size: 1em;
    font-weight: bold;
    color: #181818;
    padding:20px;
    vertical-align: bottom;
}
#filtres i
{
    background-color:#DEEBFF;
    border: 1px solid  #DEEBFF;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50%;
    color: midnightblue;
}
#filtres div
{
    margin-left: 30px;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
}
#filtres a{
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
}
/* Hébergements à Marseille*/
article
{
    background-color: #F2F2F2;
    border-radius: 5%;

}
article h2
{
    padding-top: 30px;
    padding-left: 20px;
}
#hebergements
{
    width: 680px;
    height: auto;
}
#heberge
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;

}
#heberge div
{
    background-color:white;
    border: 3px solid white;
    border-radius: 5%;
    margin-top: 10px;
    margin-right: 10px;
}
article img
{
    border-radius: 10px;
    width: 200px;
    height: 100px;
}
.fas fa-euro-sign
{
    color: #181818;
}
.fas fa-star
{
    color: darkblue;
}
/*Les plus populaires*/
#titre_populaires
{
    display: flex;
}
#titre_populaires
{
    display: flex;
    background-color:#F2F2F2;
    border: 3px solid white;
    border-radius: 5%;
    width: 200px;
}
#populaires
{
    float: left;
}
#populaires img {
    width: 100px;
    height: 100px;
}

/*Activité à Marseille */
section
{
    clear: left;
    width: 980px;
    height: auto;
background-color:#F2F2F2;
}
table
{
    width: 980px;
    height: 300px;
}
table img
{
    border: 3px solid white;
    border-radius: 20px 20px 0px 0px;
}

#vieux img,#calanques img
{
   width: 200px;
    height: 270px;
}
#pomegues img,#longchamp img
{
    width: 200px;
    height: 110px;
}
#frioul img
{
    width: 200px;
    height: 90px;

}
#garde img
{
    width: 200px;
    height: 100px;
}












