
body
{
    font-family: Arial,Serif;
    color: #181818;
}
#bloc_page
{
    width: 980px;
    height: auto;
    margin: auto;
}
header
{
    display: flex;
}
#logo img
{
    width: 160px;
    height: 90px;
}
nav ul
{
    display: flex;
    list-style-type: none;

}
ul li
{
    padding: 30px;
}
nav
{
    position: relative;
    left: 400px;
}
#rechercher
{
    display: flex;
}
#rechercher i{
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
}
#rechercher i form input
{
    margin-left: 30px;
}
input
{
    border: 1px solid midnightblue;
    border-radius: 0 50px 50px 0;
    background-color:midnightblue ;
    color: #DEEBFF;
}
#filtres
{
    display: flex;
    font-size: 1em;
    font-weight: bold;
    color: #181818;
    padding:20px;
}
#filtres i
{
    background-color:#DEEBFF;
    border: 1px solid  #DEEBFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: midnightblue;
}
#filtres div
{
    margin-left: 30px;
}
.fal fa-info-circle
{
    background-color: #DEEBFF;
    border-radius: 50%;
    color: midnightblue;
}

